/*header*/
body{
    margin: 0;
    background-color: #f3f3f3;
}
.menu-desktop{
    height: 100px;
    background-color: #14233a;
}
.menu-content{
    width: 100%;
    max-width: 1150px;
    margin: auto;
    padding-top: 20px;
}
.menu-content img{
    display: block;
    margin: auto;
}
/*header*/
/*cadastro*/
.cadastro{
    max-width: 1150px;
    width: 100%;
    margin: 60px auto;
    font-family: 'Roboto', sans-serif;
}
.cadastro-container{
    display: block;
    width: 500px;
    height: 650px;
    margin: auto;
    border: #c8c5c5 1px solid;
    border-radius: 20px;
    box-shadow: #c8c5c57e 0px 2px;
    background-color: #ffffff;
}
.cadastro-content{
    padding: 15px 20px;
}
.cadastro-content h2{
    
    font-weight: 500;
    font-size: 26px;
    line-height: 0;
    margin: 35px 0px 15px 0px
}
.asterisco{
    color: #ec7400;
    display: inline;
}
.cadastro-content p{
    display: inline-block;
    line-height: normal;
    margin-top: 0;
}
.cadastro-input-text{
    display: block;
    width: 400px;
    border:#ec7400 1px solid;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 20px;
}
form{
    margin-top: 0px;
}
.submit{
    display: block;
    width: 440px;
    border:none;
    padding: 15px 0px;
    border-radius: 10px;
    margin-top: 35px;
    font-size: 20px;
    background-color: #ec7400;
    color: #ffffff;
}
.submit:hover{
    transition: 0.5s;
    background-color: #eae9e9;
    cursor: pointer;
    color: #ec7400;
}
.sub-h2{
    font-size: 18px;
    font-weight: 300;
}
.input-cpf{
    margin-top: 20px;
}
/*cadastro*/


/*footer*/
.footer{
    background-color: #14233a;
    height: 390px;
    margin-top: 100px;
}
.w-30{
    width: 35%;
    color: white;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 0 0 15px;
    line-height: 18px;
}
.w-30-desc{
    padding-top: 10px;
    font-weight: 400;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.img-icon{
    background-color: #ec7400;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 2px;
}
.img-icon img{
    padding: 10px;
}
.icones{
    padding-top: 30px;
}
.img-icon-insta img{
    padding: 9px;
}
.contato-footer{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
.dr{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 10px;
}
.div-footer{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}
.direita{
    font-size: 25px;
    line-height: 23px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    float: right;
}
.direita p:first-child{
    padding-top: 40px;
}
.direita p:nth-child(2){
    padding-top: 30px;
}
.baixar{
    background-color: #ec7400;
    border: none;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border-radius: 3px;
}
.baixar:hover{
    cursor: pointer;
}
.observacao{
    font-weight: 400;
    font-size: 13px;
    padding-top: 5px;
}
/*footer*/


@media  (max-width:1080px){
    /*footer*/
    .footer{
        height: 450px;
    }
    .w-30{
        margin-left: 50px;
    }
    .direita{
        margin-right: 50px;
        margin-left: 0px;
    }
    .dr{
        line-height: normal;
    }
    /*footer*/
}
@media(max-width:650px){
    /*header*/
    .menu-desktop{
        height: 100px;
    }
    .menu-content{
        width: 100%;
        max-width: 300px;
        margin: auto;
        padding-top: 20px;
    }
    .menu-content img{
        margin-left: 50px;
    }
    /*header*/
    /*cadastro*/
    .cadastro{
        max-width: 1150px;
        width: 100%;
        margin: 120px auto;
    }
    .cadastro-container{
        display: block;
        width: 100%;
        max-width: 300px;
        height: 670px;
        margin: 0 auto;
        border: #c8c5c5 1px solid;
        border-radius: 20px;
        box-shadow: #c8c5c57e 0px 2px;
        background-color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }
    .cadastro-input-text{
        display: block;
        width: 200px;
        border:#ec7400 1px solid;
        padding: 15px 20px;
        border-radius: 10px;
        font-size: 20px;
    }
    .submit{
        display: block;
        width: 240px;
        border:none;
        padding: 15px 0px;
        border-radius: 10px;
        margin-top: 25px;
        font-size: 20px;
        background-color: #ec7400;
        color: #ffffff;
    }
    .sub-h2{
        font-size: 16px;
    }
    /*cadastro*/
    /*footer*/
    .footer{
        height: 800px;
        margin-top: 150px;
    }
    .w-30{
        width: 70%;
        color: white;
        display: block;
        margin:auto;
        padding: 30px 0 0 15px;
        line-height: 18px;
        text-align: center;
    }
  
    .direita{
        font-size: 25px;
        line-height: 23px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        float: none;
    }
    /*footer*/
}